<div class="container">
    <h1>{{title}}</h1>
</div>
<div class="container well">
    <div class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Group Name</h4>
            <p class="list-group-item-text">{{forum.groupname}}</p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Description</h4>
            <p class="list-group-item-text">{{forum.description}}</p>
        </div>
    </div>
</div>