<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>
<div class="container well">
    <table class='table'>
        <tr>
            <th>Username</th>
            <th>Fullname</th>
        </tr>
        {{#each users}}
            <tr>
                <td>{{username}}</td>
                <td>{{fullname}}</td>
            </tr>
        {{/each}}
    </table>
</div>